body{
    background-color: #fefcfb;
}
section{
    position: relative;
}
.btn-orange{
    background: #FA7436;
    color: white;
}
.text-orange{
    color: #FA7436;
}
.bg-orange{
    background-color: #FA7436;
}
.bor-orange{
    border: #FA7436 solid 1px;
}
.color1{
    background-color: #fefcfb;
}
.aliceblue{
    background-color: #F7F8Fc;
}
.ban1{
    width: 100%;
    height: 70%;
    background: linear-gradient(white 60%, #FA7436 40%);
    border-radius: 100%;
    position: relative;
    top:100px;
}
.img1{
    position: relative;
    bottom: 400px;
    
}
.icon1{
    width: 20%;
    margin: 1rem;
}
.title{
    font-family: serif;
    font-weight: 900;
}

.hover{
    border-radius: 50%;
    
}
.hover:hover{
    background-color: #FA7436;
}
.icon2{
    position: relative;
    left: 350px;
}
.hover-claro:hover{
    background-color: #fd7d1484;
}
.thropy{
    height: 8vh;
    position: relative;
    bottom: 140vh;
    background-color: white;
}
.googlemaps{
    height: 13vh;
    position: relative;
    bottom: 132vh;
    left: 25vw;
    background-color: white;
}
.starbg{
    height: 9vh;
    position: relative;
    bottom: 110vh;
    left: 1vw;
    background-color: white;
}

.thropy h5,
.googlemaps h5,
.starbg h5{
    font-size: 0.8rem;
    display: block;
}
.googlemaps p,
.starbg p{
    font-size: 0.7rem;
}

.points div{
    width: 0.3vw;
    height: 1vh;
    border-radius: 50%;
    background-color: rgba(164, 162, 162, 0.512);
}

.points div:hover{
    display: block;
    background-color: black;
    padding: 5px;
}
footer img:hover{
    background-color: #FA7436;
}
.color12{
    height: 150vh;
}
.footer{
    padding-top: 13vh;
}
.btn-Subscribe{
    position: absolute;
    bottom: 6.5vh;
    right: 13.2vw;
}
.btn-Subscribe:hover{
    background-color: #fd7d148c;
}
.mensajeCorreo input::placeholder{
    font-size: 0.8rem;
}
.mensajeCorreo .email{
    width: 4.2vw;
    height: 10.9478vh;
    border-radius: 25%;
    background-color: white;
    position: absolute;
    bottom: 4.6vh;
    left: 9.5vw;
}
.mensajeCorreo input {
    outline: none;
}
.avion2{
    position: absolute;
    width: 15vw;
    right: 15vw;
    top: 2svh;
}
.palmWhite{
    width: 8vw;
    position: absolute;
    right: 25vw;
    top: 2.5vh;
}
.avion3{
    width: 10vw;
    position: absolute;
    right: 13vw;
    top: 4vh;
}
.palmOrange{
    width: 8vw;
    position: absolute;
    right: 1vw;
    top: 1vh;
}